#main {
    margin:4em 15em 0;
}

h1 {
    text-align:center;
}

#game {
    margin:3em auto;
    display:table;
}

#board {
    border:2px solid rgb(70, 0, 70);
    display:grid;
    width:512px;
    height:512px;
    grid-template-columns: repeat(16,32px);
}

.tile {
    /*width:25px;
    //height:25px;*/
    background-color:#dbdbdb;
}

.drawn {
    background-color:rgb(34, 34, 34);
}